# zoo.cfg
dataDir=/var/lib/zookeeper
clientPort=2181
{{ range gets "/config/*" }}
{{ base .Key }}={{ .Value }}
{{ end }}

{{ range gets "/servers/host*" }}
{{ $data := json .Value }}
server.{{ $data.id }}={{ $data.host }}:{{ $data.peerPort }}:{{ $data.leaderPort }} 
{{ end }}
